<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="../fontawesome/css/all.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <title>Livros de Rua</title>
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="../index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" src="logo-header.png" alt="Logo livros de rua">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="../index.html" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="about.html" class="nav-link px-2 text-white">Quem Somos</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Contato</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Cadastrar</button>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="banner-home">
            <img class="banner-img" src="banner-about.jpg" alt="Imagem onde está falando quem somos">
            <h1 class="titulo">Quem Somos</h1>
            <span class="sub-titulo-about">
                <p>Em 2013, a ideia surgiu num grupo de debate e na época arrecadei vários livros, mas naquele momento
                    não levar adiante e acabei doando todos os livros que tinha conseguido.</p>
                <p>Nesses 8 anos que o projeto ficou na gaveta surgiram muitas outras coisas que eram prioridade, porém
                    nesse ano resolvi, com apoio da minha esposa Paula, colocar em prática o <strong>Livros em
                        Rua</strong>. Aliás, nem imaginava que tantas pessoas colaborariam com o projeto.</p>
                <p>No meu ponto de vista, é um dever nosso levar acesso aos livros principalmente em bairros mais
                    humildes/periféricos, porque isso é um previlégio nosso. Nesses lugares o Estado não chega e a
                    sociedade desvia o olhar.</p>
            </span>
        </div>



    </main>

    <div class="b-example-divider"></div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img class="bi" src="logo-footer.png">
                </a>
                <span class="text-muted">&copy; 2021 Livros de Rua - Todos os direitos reservados</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>

</html>