{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon.png' %}">
    <title>Livros de Rua</title>
</head>


<nav class="navbar navbar-dark navbar-expand-lg p-3 bg-dark">
    <header class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:home' %}"><img class="bi me-2"
                src="{% static '/img/logo-header.png' %}" alt="Logo livros de rua"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse nav-align" id="navbarNav">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'core:home' %}">Home <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'core:about' %}">Quem Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'core:contato' %}">Contato</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item login-user">
                        <span class="text-white">Olá {{ user.nome }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light me-2" href="{% url 'account_login' %}">
                            Entrar </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" href="{% url 'core:cadastro' %}">
                            Cadastrar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
</nav>

<main class="container">
    {% block content %} {% endblock %}
</main>

<div class="b-example-divider"></div>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <div class="d-flex align-items-center">
        <a href="{% url 'core:home' %}" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img class="bi" src="{% static '/img/logo-footer.png' %}">
        </a>
        <span class="text-muted">&copy; 2021 Livros de Rua - Todos os direitos reservados</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="{% static '#' %}"><i class="fab fa-instagram fa-2x"></i></a></li>
    </ul>
</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>