{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner-home">
    <img class="banner-img img-fluid" src="{% static '/img/banner-home-d.jpg' %}" alt="Imagem com estande de livros">
    <h1 class="titulo">Livros de Rua</h1>
    <span class="sub-titulo">Seres pensantes de todo mundo, uni-vos!</span>
    <div class="row busca">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Faça sua pesquisa..." aria-label="Pesquisar">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>
</div>


<div class="container">
    <div class="row destaque">
        <h2>Destaques</h2>
        <div class="col-lg-4">
            <div class="img-book-destaque">
                <img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa">
            </div>
            <h3>Heading</h3>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is
                the
                first column.</p>
            <p><button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="img-book-destaque">
                <img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa">
            </div>
            <h3>Heading</h3>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                second
                column.</p>
            <p><button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="img-book-destaque">
                <img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa">
            </div>
            <h3>Heading</h3>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr class="featurette-divider">

<div class="row align-items-md-stretch books-acervo">
    <h2>Nosso Acervo</h2>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 books-quadro">
        <div class="h-100 bg-light border rounded-3 books">
            <div class="capa"><img src="{% static '/img/capa-book.png' %}" alt="Imagem de livro sem capa"></div>
            <div class="books-text">
                <h3>Add borders</h3>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your
                    content.</p>
                <button class="btn btn-outline-success btn-sm" href="{% static '' %}">+ Detalhes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}